.coreQS_info_cicular{
	width: 350px;
	height: 50px;
	border-radius: 100px 100px 100px 100px;
	background: #1E2327;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	position: relative;
    top: 10px;    
}

.coreQS_info_cicular > h1 {
	color: #E5E6E8;
	font-size: 1.8rem;
}

.coreQS_info_fondo{
	width: 830px;
	background: #181B20;
	padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.coreQS_info_cuadrado{
	background: #181B20;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}

.coreQS_info_cuadrado > p {
    text-align: center;
	color: #C4C7C8;
	font-size: 1.3rem;
    padding: 10px;
    line-height: 2;
}

#letra_azul{
    color: #255690;
}