body{
    
	padding-top: 0px;
	margin: auto;
}
            	
#circular{
	width: 250px;
	height: 50px;
	border-radius: 100px 100px 100px 100px;
	background: #1E2327;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
	margin-left: 40px;
	position: relative;
    margin-top: 2px;
    
}

#circular > h1 {
	font-family: sans-serif;
	color: #E5E6E8;
	font-size: 1.8rem;
	font-weight: bold;
}

#fondo{
    width: 100%;
    height: 420px;
	background: #181B20;
	padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -25px;
	
}
#caja{
    margin: auto;
    margin-top: -0.76%;
    height: 90%;
    width: 100%;
    overflow: hidden;
    margin-left: 1%;
    margin-right: 5%;
  /* border: 1px solid blue;*/
}
#image{

    /*background-color: blue;*/
    width: 45%;
    height: 100%;
    margin-left: 0%;
    float: left;

}

#izquierdo{

    /*background-color: white;*/
    width: 55%;
    height: 100%;
    margin-left: 0%;
    float: left;
    margin-top: 5%;

}
#img{
    height: 100%;
    width: 100%;
    border-radius: 0% 0% 0% 0%;
}

#medio{

    background-color: rgba(47, 0, 255, 0.459);
    width: 1%;
    height: 55%;
    margin-left: 2%;
    margin-top:5%;
    float: left;
    

}
#derecho{

    /*background-color: red;*/
    width: 91%;
    height: 70%;
    margin-left: 5%;
    float: left;
    margin-top: 5%;

}


.button {	
    box-shadow: inset 0 0 0 2.5px #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.125em;
    letter-spacing: 0.100em;
    line-height: 3.125em;
    max-width: 30em;
    padding: 0 2.4em;
    text-align: center;
    text-decoration: none;
    margin-left: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 30px;
    font-size: 1.1rem;
    margin-left: 60%;
    margin-top: -20px;
}
input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {
        background-color: rgba(144, 144, 144, 0.25);
    }
#txt{
    margin-top: 10px;
    color: white;
    font-size: 35px;
}
#txt1{
    font-size: 20px;
    color: white;
    margin-top: -15px;
}