div#general{
	width:500px;
	height:600px;
}
div#e1{
	width: 450px;
	height: 100px;
	position: relative;
	top: 10px;
	left: 20px;
}
div#cuadro1{
	width: 80px;
	height:80px;
	position: relative;
	top:10px;
	left: 10px;
	border-radius: 10px;
}
div#texto1{
	width: 340px;
	height:55px;
	position: relative;
	top: -60px;
	left: 100px;

}
div#e2{
	width: 450px;
	height: 100px;
	position: relative;
	top: 40px;
	left: 20px;
}
div#cuadro2{
	width: 80px;
	height:80px;
	position: relative;
	top:10px;
	left: 10px;
	border-radius: 10px;
}
div#texto2{
	width: 340px;
	height:55px;
	position: relative;
	top: -60px;
	left: 100px;
}
div#e3{
	width: 450px;
	height: 100px;
	position: relative;
	top: 70px;
	left: 20px;
}
div#cuadro3{
	width: 80px;
	height:80px;
	position: relative;
	top:10px;
	left: 10px;
	border-radius: 10px;
}
div#texto3{
	width: 340px;
	height:55px;
	position: relative;
	top: -60px;
	left: 100px;

}
div#e4{
	width: 450px;
	height: 100px;
	position: relative;
	top: 100px;
	left: 20px;
}
div#cuadro4{
	width: 80px;
	height:80px;
	position: relative;
	top:10px;
	left: 10px;
	border-radius: 10px;
}
div#texto4{
	width: 340px;
	height:55px;
	position: relative;
	top: -60px;
	left: 100px;

}
div#image{
	width: 100%;
	height:100%;
	position: relative;
	 
}
.img{
	border-radius: 5px;
}
#txt{
	
	font-size: 20px;
	height: 100%;
	width: 100%;
	height: 300px;
	margin-top: 4px;
	margin-right: 50px;
	position: relative;
}
#tx{
	margin-left: 30px;
	font-size: 20px;
}