html, body {
  height: 100%;
  width: 100%;
}
body {
  color: white;
  font-family: 'Raleway', sans-serif;
}
/* -------------------------------CONTAINER------------------------------- */
.container {
  display: grid;
  grid-template-areas: "hero" 
                       "core"
                       "events"
                       "blog"
                       "contact";
  grid-template-rows: 100vh 420px 380px 640px 700px;
}

/* -------------------------------HEADER------------------------------- */
.header {
font-family: 'Raleway', sans-serif;
grid-area: header;
height: 70px; 
width: 100%;
position: fixed;
/* background: rgba(0, 0, 0, .6);   */
background: rgba(0, 0, 0, .7);
display: flex;
justify-content: space-between;
z-index: 3;
}
.container_link {
margin-left: 20px;
width: 230px;
display: flex;
}
.link_admin {
width: 50px;
height: 50px;
border-radius: 50%;
overflow: hidden;
margin: 8px 0 6px;
text-align: center;
border: 2px solid white;
}
.link_admin img {
width: 100%;
height: auto;
}
/* contenedor */
.container_header {
display: inherit;
justify-content: inherit;
height: inherit;
align-items: center;
margin: 0 auto;

flex: 1;
}
/* logo */
.logo {
margin: 0;
margin-left: 55px;
display: inherit;
align-items: center;
}
/* imagen-logo */
.logo img {
width: auto;
height: 50px;
}
/* nav */
.menu {
height: inherit;
}
/* contedor-items */
.menu ul {
font-size: 1.2em;
margin: 0px;
margin-right: 55px;
padding: 0px;
list-style: none;
display: flex;
height: inherit;
}
/* items */
.menu li {
margin: 0;
height: inherit;
}
/* enlaces-items */
.menu a {
text-decoration: none;
color: azure;
display: flex;
align-items: center;
height: inherit;
transition: .6s;
padding: 0 12.5px;
}
/* ultimo-item */
.menu li:last-child {
display: flex;
align-items: center;
margin-left: 12.5px;
}

.menu .button-link {
border: 2px solid rgb(235, 233, 233);
height: 19px;
border-radius: 10px;
padding: 10px 15px;
margin: auto;
transition: .6s;
}
.button-link a{
color: azure;
}
.button-link:hover {
background: rgba(255, 255, 255, .8);
border-color: rgba(255, 255, 255, .8);
cursor: pointer;
color: black;
}
.cool-link:hover {
transition: .6s;
background: rgba(255, 255, 255, .8);
color: black;
}

/* -------------------------------HERO------------------------------- */
/* hero */
body .hero {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* video */
body .hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
}
/* overlay(Fondo transparente) */
body .hero .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.87) 29%, rgba(7,68,138,0.7511379551820728) 68%, rgba(11, 88, 167, 0.75) 100%);
}
/* contenedor-texto */
body .hero .content {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 2.2em;
  width: 820px;
}
/* titulo principal */
body .content h1 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden; 
}
/* subtitulo */
body .content h4 {
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  margin-top: 2%;
  margin-bottom: 10%;
}
/* boton-enlace */
body .content a {
    border: 2px solid azure;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 200;
    color: azure;
}
/* ANIMACION */
.anim-typewriter {
  animation: typewriter 4s steps(40) 2.1s 1 normal both,
  blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
        width: 0;
  }
  to {
        width: 11.5em;
  }
}

@keyframes blinkTextCursor {
  from {
        border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
        border-right-color: transparent;
  }
}

/* -------------------------------CORE------------------------------- */
.core {
  grid-area: core;
  background: white;
  padding-top: 50px;
}
.container_core {
background: url(../../public/img/trianglify2.png);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;
margin: auto;
display: grid;
grid-template-columns: 1fr;

}
.division_core {
display: grid;  
          grid-template-columns: 10% auto auto 10%;
          grid-template-rows: 60px 60px 160px auto 40px;
          grid-gap: 0 60px;
          grid-template-areas: ". . . ."
                               ". image_core title_core ."
                               ". image_core description_core ."
                               ". . bottom_core ."
                               ". . . .";  
}
.image_core {
margin: 0;
width: 220px;
height: 220px;
border-radius: 100%;
overflow: hidden;
grid-area: image_core;
}
.image_core img {
width: 100%;
height: 100%;
}
.title_core {
font-weight: 400;
font-family: 'Dosis', sans-serif;
font-size: 2.6em;
margin: 0;
grid-area: title_core;
display: flex;
align-items: center;
}
.descripion_core {
font-weight: 300;
grid-area: description_core;
font-family: 'Raleway', sans-serif;
}
.descripion_core p {
font-weight: 300;
font-size: 1.13em;
color: rgb(255, 255, 255);
}
.descripion_core h3 {
font-weight: 300;
font-size: 1.3em;
color: #eee;
margin-top: 10px;
}
.descripion_core span {
color: rgb(23, 116, 255);
}
.bottom_core {
border: 2px solid rgba(255, 255, 255, 0.7);
border-radius: 10px;
padding: 9px 30px;
text-decoration: none;
color: rgba(255, 255, 255, 0.7);
font-weight: 300;
font-size: 2em;
grid-area: bottom_core;
font-family: 'Dosis', sans-serif;
justify-self: start;
margin-left: 120px;
}
.bottom_core:hover {
transition: .3s;
border-color: rgba(255, 255, 255, 0.89);
color: rgba(255, 255, 255, 0.89);
}
/* -------------------------------EVENTS------------------------------- */
.events {
  grid-area: events;
  background: white;
  padding-top: 50px;
  color: #fdfdfd;

}
.container_events {
background: url(../img/descarga_e.png);
width: 100%;
height: 100%;
margin: auto;
display: grid;
grid-template-columns: minmax(auto,1fr);
box-sizing: border-box;
}
.transparent {
grid-area: transparent;
background: white;
width: 100%;
position: relative;
height: 40px;
}
/* 
.tag_events  {
font-family: 'Dosis', sans-serif;
background: #1C2227;
border-radius: 50px;
padding: 20px 80px;
color: azure;
font-weight: 600;
font-size: 2em;
margin: auto 0;
position: relative;
top: -50%;
grid-area: tag_events;
width:107px;
}
.line_events {
grid-area: line_events;
border-right: 6px solid rgb(19, 106, 177);
}
} */
.image_events {
margin: 0;
width: 100%;
height: auto;
grid-area: image_events;
overflow: hidden;
}
.image_events img {
width: 100%;
height:100%;
}
.container-figure {
display: flex;
width: 100%;
height: auto;
}
.content_a  {
margin: 50px 60px;
color: #fdfdfd;
}
.title_events {
font-weight: 300;
font-family: 'Dosis', sans-serif;
font-size: 2.8em;
margin: 10px 0px;
grid-area: title_events;
display: flex;
align-items: center;
margin-bottom: 40px;
}
.description_events {
font-weight: 100;
grid-area: description_events;
font-family: 'Dosis', sans-serif;
font-size: 1.5em;
margin: 0;
color: rgb(248, 248, 248);
width: 490px;
margin-bottom: 15px;
}
.bottom_events {
border: 2px solid azure;
border-radius: 50px;
padding: 9px 30px;
text-decoration: none;
color: azure;
font-weight: 300;
font-size: 1.8em;
font-family: 'Dosis', sans-serif;
margin: auto;
margin-top: 250px;
width: 20%;
height: 30px;
margin-right: 60px;
display: flex;
justify-content: center;
}
/* SLIDER */
.slider {
display: block;
width: 100%;
height: 400px;
background: #0078D4;
overflow: hidden;
position: absolute;
}
.slider > * {
position: absolute;
display: block;
width: 100%;
height: 400px;
background: yellow;
animation: slide 12s infinite;
overflow: hidden;
}
.slide:nth-child(1) {
left: 0%;
animation-delay: -1s;
background: red;
}
.slide:nth-child(2) {
animation-delay: 2s;
background: yellow;
}
.slide:nth-child(3) {
animation-delay: 5s;
background: goldenrod;
}
.slide:nth-child(4) {
left: 0%;
animation-delay: 8s;
background: blueviolet;
}
@keyframes slide {
0% { left: 100%; width: 100%;}
5% { left: 0%;}
25% { left: 0%;}
30% { left: -100%; width: 100%;}
30.0001% { left: -100%; width: 0%;}
100% { left: 100%; width: 0%;}
}
/* -------------------------------BLOG------------------------------- */
.blog {
  grid-area: blog;
  background: white;
  position: relative;
  padding-top: 50px; 
  z-index: 2;
}
.container_blog {
/* background: #671998; */
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;
margin: auto;
display: grid;
grid-template-columns: 1fr;
}
.tag_blog {
color: rgba(255, 255, 255, 0.938);
text-align: center;
grid-area: tag_blog;
font-size: 1.8em;
font-family: 'Dosis', sans-serif;
}
.tag_blog h2 {
font-weight: 300;
margin: 40px 0 0;
padding-bottom: 5px;
border-bottom: 1px solid rgba(255, 255, 255, 0.726);
}
.division_blog {
display: grid;  
grid-template-areas: ". tag_blog ."
                    "container_box container_box container_box"
                    ". . .";     
grid-template-columns: repeat(3,1fr);   
grid-template-rows: 160px auto 50px;
grid-gap: 0px;
/* background:#731caa; */
background: url(../img/trianglify3.png);
background-repeat: no-repeat;
background-size: cover;
/* background: url(../images/pattern.png); */
padding: 0 148px;
}
.container_box {
grid-area: container_box;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
justify-content: center;
grid-gap: 0 50px;
padding: 0;
position: relative;
}
.fa-angle-left {
position: absolute;
left: 60px;
font-size: 2em;
top: 320px;
}
.fa-angle-right {
position: absolute;
right: 60px;
font-size: 2em;
top: 320px;
}
.box_blog {
background: rgba(255, 255, 255, 0.966);
color: rgb(31, 36, 41);
display: grid;
width: 100%;
grid-template-rows: 60% 40%;
}
.image_box {
margin: 0;
width: 100%;
height: 100%;
border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}
.image_box img {
width: 100%;
height: 100%;
object-fit: cover;
}
.detail_box {
margin: 12px 10px 0px 15px;
display: flex;
flex-direction: column;
align-items: center;
}
.detail_box h2 {
text-align: center;
font-size: 1.2em;
margin: 0 0 8px;
font-weight: 600;
}
.detail_box a {
text-decoration: none;
color: #000000a1;
font-family: 'Dosis', sans-serif;
}
/* .detail_box .categories-box {
color: #0f5eddc5;
margin-bottom: 6px;
font-weight: 600;
} */
.detail_box p {
margin: 0;
display: inherit;
justify-content: center;
font-size: .8em;
color: #000000;
margin: 0;
margin-bottom: 15px;
}
.detail_box span {
color: #0665ff;
}
/* .detail_box a {
text-decoration: none;
color: white;
font-size: .8em;
background: rgba(0, 98, 255, 0.822);
border-radius: 2px;
padding: 5px 14px;
} */
.perfil-box {
display: flex;
align-items: center;
}
.image-perfil {
margin: 0;
border-radius: 50px;
width: 40px;
height: 40px;
overflow: hidden;
}
.image-perfil img {
width: 100%;
height: 100%;
object-fit: cover;
}
.perfil-box .link-perfil {
color: #000000f3;
margin-left: 10px;
font-size: .8em;
font-family: 'Raleway', sans-serif;
}
.container-button {
display: flex;
justify-content: center;
margin-top: 30px;
}
.button-text {
width: 140px;
}
button {
position: relative;
display: inline-block;
cursor: pointer;
outline: none;
border: 0;
vertical-align: middle;
text-decoration: none;
background: transparent;
padding: 0;
font-size: inherit;
font-family: inherit;
}
button.learn-more {
width: 10rem;
height: auto;
}
button.learn-more .circle {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: relative;
margin: 0;
width: 3rem;
height: 3rem;
background: #08141C;
border-radius: 1.625rem;
}
button.learn-more .circle .icon {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: absolute;
top: 0;
bottom: 0;
margin: auto;
background: #fff;
}
button.learn-more .circle .icon.arrow {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
left: 0.625rem;
width: 1.125rem;
height: 0.125rem;
background: none;
}
button.learn-more .circle .icon.arrow::before {
position: absolute;
content: '';
top: -0.25rem;
right: 0.0625rem;
width: 0.625rem;
height: 0.625rem;
border-top: 0.125rem solid #fff;
border-right: 0.125rem solid #fff;
-webkit-transform: rotate(45deg);
        transform: rotate(45deg);
}
button.learn-more .button-text {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
padding: 0.75rem 0;
margin: 0 0 0 1.85rem;
color: #000B14;
font-weight: 700;
line-height: 1.6;
text-align: center;
text-transform: uppercase;
}
button:hover .circle {
width: 100%;
}
button:hover .circle .icon.arrow {
background: #fff;
-webkit-transform: translate(1rem, 0);
        transform: translate(1rem, 0);
}
button:hover .button-text {
color: #fff;
}

/* -------------------------------CONTACT------------------------------- */
.contact {
  grid-area: contact;
  position: relative;
  background: white;
  overflow: hidden;
}
.container_contact {
width: 100%;
height: 100%;
position: absolute;
z-index: 0;
top: 120px;
left: 0;
}
.bottom {
width: 100%;
height: 100%;
background: url(../img/pattern3.png);
background-repeat: no-repeat;
background-size: cover;
background-position-y: -200px;
padding-top: 70px;
}
.container-flex {
display: flex;
justify-content: space-between;
}
.container-flex p {
margin: 30px auto;
width: 890px;
font-size: 1.5em;
}
.icon_container {
display: flex;
justify-content: center;
}
.item-icon {
display: flex;
flex-direction: column;
align-items: center;
margin: 30px 30px auto;
}
.item-icon i {
font-size: 3.5em;
}
.title_bottom {
margin: 0;
font-size: 4em;
font-family: 'Dosis', sans-serif;
font-weight: 500;
text-align: center;
}
.bubble{
position: absolute;
bottom: -100px;
background: #f1f1f1;
border-radius: 50%;
opacity: 0.5;
animation: flying 10s infinite ease-in;
}
.bubble:nth-child(1){
width: 40px;
height: 40px;
left: 10%;
animation-duration: 8s;
}
.bubble:nth-child(2){
width: 20px;
height: 20px;
left: 20%;
animation-duration: 5s;
animation-delay: 1s;
}
.bubble:nth-child(3){
width: 50px;
height: 50px;
left: 35%;
animation-duration: 10s;
animation-delay: 2s;
}

.bubble:nth-child(4){
width: 80px;
height: 80px;
left: 50%;
animation-duration: 7s;
animation-delay: 0s;
}

.bubble:nth-child(5){
width: 35px;
height: 35px;
left: 55%;
animation-duration: 6s;
animation-delay: 1s;
}
.bubble:nth-child(6){
width: 45px;
height: 45px;
left: 65%;
animation-duration: 8s;
animation-delay: 3s;
}
.bubble:nth-child(7){
width: 25px;
height: 25px;
left: 75%;
animation-duration: 7s;
animation-delay: 2s;
}
.bubble:nth-child(8){
width: 80px;
height: 80px;
left: 80%;
animation-duration: 6s;
animation-delay: 1s;
}

.bubble:nth-child(9){
width: 15px;
height: 15px;
left: 70%;
animation-duration: 9s;
animation-delay: 0s;
}

.bubble:nth-child(10){
width: 50px;
height: 50px;
left: 85%;
animation-duration: 5s;
animation-delay: 3s;
}

@keyframes flying {
0%{
  bottom: -100px;
  transform: translateX(0);
}
50%{
  transform: translateX(100px);
}
100%{
  bottom: 1080px;
  transform: translateX(-200px);
}
}

/* -------------------------------FOOTER------------------------------- */
.footer {
  /* background: rgb(0, 0, 0); */
  background: url(../img/footer.png);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo_footer {
margin: 0;
margin-left: 55px;
display: inherit;
align-items: center;
}
/* imagen-logo */
.logo_footer img {
  width: auto;
  height: 50px;
}
.info_footer {
  display: flex;
  align-items: center;
}
.info_footer p {
margin: 0;
margin-right: 55px;
font-weight: 200;
font-size: 1.13em;
}
.info_footer a {
text-decoration: none;
color: white;
}