/* -------------------------------BLOG/DETALLE------------------------------- */
body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
  }
  /* GRID CONTAINER */
  .container {
      display: grid;
      grid-template-areas: "false"
                           "content"
                           "comment"
                           "footer";
      grid-template-columns: 1fr;
      grid-template-rows: 70px 1fr .2fr 50px;
  }
  /* -------------------------------HEADER------------------------------- */
  .header {
    font-family: 'Raleway', sans-serif;
    height: 70px; 
    width: 100%;
    position: fixed;
    /* background: rgba(0, 0, 0, .6);   */
    background: rgba(0, 0, 0, .9);
    display: flex;
    justify-content: space-between;
    z-index: 3;
  }
  .false {
    grid-area: false;
    width: 100%;
    height: 70px;
    background: black;
  }
  /* contenedor */
  .container_header {
  display: inherit;
  justify-content: inherit;
  height: inherit;
  align-items: center;
  margin: 0 auto;
  
  flex: 1;
  }
  /* logo */
  .logo {
  margin: 0;
  margin-left: 55px;
  display: inherit;
  align-items: center;
  }
  /* imagen-logo */
  .logo img {
  width: auto;
  height: 50px;
  }
  /* nav */
  .menu {
  height: inherit;
  }
  /* contedor-items */
  .menu ul {
  font-size: 1.2em;
  margin: 0px;
  margin-right: 55px;
  padding: 0px;
  list-style: none;
  display: flex;
  height: inherit;
  }
  /* items */
  .menu li {
  margin: 0;
  height: inherit;
  }
  /* enlaces-items */
  .menu a {
  text-decoration: none;
  color: azure;
  display: flex;
  align-items: center;
  height: inherit;
  transition: .6s;
  padding: 0 12.5px;
  }
  /* ultimo-item */
  .menu li:last-child {
    display: flex;
    align-items: center;
    margin-left: 12.5px;
  }
  .menu .button-link {
  border: 2px solid rgb(255, 255, 255);
  height: 19px;
  border-radius: 10px;
  padding: 10px 15px;
  margin: auto;
  transition: .6s;
  }
  .button-link a{
    color: azure;
    }
  .button-link:hover {
  background: rgba(255, 255, 255, .8);
  border-color: rgba(255, 255, 255, .8);
  cursor: pointer;
  color: black;
  }
  
  .cool-link:hover {
  transition: .6s;
  background: rgba(255, 255, 255, .8);
  color: black;
  }
  
  /* -------------------------------CONTENT------------------------------- */
  .content {
    grid-area: content;
   }
   .title-content {
       margin: 0;
       font-size: 2.6em;
       width: 100%;
       margin-bottom: 20px;
       font-weight: 600;
       color: white;
       /* background: #050505; */
       background: url(../img/pattern_prueba2.png);
       height: 360px;
       display: flex;
       justify-content: center;
       align-items: center;
       padding-bottom: 40px;
   }
   .image-content {
       margin: 0 auto;
       width: 60%;
       height: 500px;
       display: flex;
       overflow: hidden;
       position: relative;
       top: -120px;
   }
   .image-content iframe {
    width: 100%;
    height: auto;
  }
  .details-content  {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    position: relative;
    top: -100px;
  }
  .details-content p {
    font-weight: 400;
    font-size: 1.13em;
    margin: 0;
    margin-bottom: 6px;
    font-family: 'Raleway', sans-serif;
  }
  .details-content span {
    color: #0665ff;
}
  .icon-content {
    display: flex;
    align-items: center;
    width: 17%;
    font-size: 1.13em;
  }
  .icon-content i {
    margin-left: 10px;
    font-size: 1.3em;
  }
  .icon-content i:first-child {
    color: #ED4956;
  }
  .icon-content .heart-number {
    margin: 0 8px;
    color: #181C20;
  }
  .icon-content .comment-number {
    margin: 0 8px;
    color: #181C20;
  }
  .line {
    width: 85%;
    height: 1px;
    border-top: 1px solid #929292;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: -50px;
  }
  .perfil-content {
    display: flex;
    align-items: center;
    margin: 0 100px;
  }
  .perfil-content p {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.13em;
    font-weight: 200;
  }
  .perfil-content .name-perfil {
    width: 46%;
    margin: 0;
    text-decoration: none;
    color: #000000;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}
  .avatar-content {
    width: 40px;
    height: 38px;
    margin: 0;
    margin-right: 20px;
    border-radius: 50px;
    overflow: hidden;
  }
  .avatar-content img {
    width: 100%;
    height: auto;
    object-fit: cover;  
}
  .text-content {
    margin: 0 100px;
    margin-bottom: 80px;
  }
  .text-content p {
    font-size: 1.13em;
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
  }
  /* -------------------------------COMMENT------------------------------- */
  .comment {
    grid-area: comment;
    display: flex;
    padding: 0 50px; 
    margin-bottom: 60px;
    margin-left: 10px;
    width: 60%;
  }
  .container-comment {
    background: #181C20;
    border-radius: 20px;
    display: inherit;
    justify-content:center;
    padding: 50px 40px 90px 20px;
    width: 100%;
    height: 158px;
    position: relative;
  }
  .tag-comment {
    background: #202429;
    border-radius: 50px;
    padding: 10px 70px;
    color: azure;
    font-weight: 200;
    font-size: 1.5em;
    display: flex;
    justify-content:center;
    position: absolute;
    top: -25px;
    left: 40px;
    width:200px;
    margin: auto;
  } 
  .text-comment {
    width: 100%;
    height: 100%;
  }
  .text-comment textarea {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.13em;
  }
  .button-comment {
    border: 1px solid white;
    border-radius: 50px;
    padding: 6px 28px;
    background: transparent;
    color: white;
    margin: 10px 0;
    font-size: 1.13em;
  }
  /* -------------------------------FOOTER------------------------------- */
  .footer {
    background: rgb(0, 0, 0);
    color: white;
    height: 70px;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-area: footer;
  }
  .logo_footer {
  margin: 0;
  margin-left: 55px;
  display: inherit;
  align-items: center;
  }
  /* imagen-logo */
  .logo_footer img {
    width: auto;
    height: 50px;
  }
  .info_footer {
    display: flex;
    align-items: center;
  }
  .info_footer p {
  margin: 0;
  margin-right: 55px;
  font-weight: 200;
  font-style: italic;
  font-size: 1.2em;
  }
  .info_footer a {
  text-decoration: none;
  color: white;
  }

  