/* -------------------------------BLOG/INDEX------------------------------- */
body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
}
/* GRID CONTAINER */
.container {
    display: grid;
    grid-template-areas: "header header"
                         "post aside"
                         "other ."
                         "footer footer";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 70px auto 100px 50px;
    grid-gap: 10px;
}
/* -------------------------------HEADER------------------------------- */
.header {
  font-family: 'Raleway', sans-serif;
  grid-area: header;
  height: 70px; 
  width: 100%;
  position: fixed;
  /* background: rgba(0, 0, 0, .6);   */
  background: rgba(0, 0, 0, .9);
  display: flex;
  justify-content: space-between;
  z-index: 3;
}
/* contenedor */
.container_header {
display: inherit;
justify-content: inherit;
height: inherit;
align-items: center;
margin: 0 auto;

flex: 1;
}
/* logo */
.logo {
margin: 0;
margin-left: 55px;
display: inherit;
align-items: center;
}
/* imagen-logo */
.logo img {
width: auto;
height: 50px;
}
/* nav */
.menu {
height: inherit;
}
/* contedor-items */
.menu ul {
font-size: 1.2em;
margin: 0px;
margin-right: 55px;
padding: 0px;
list-style: none;
display: flex;
height: inherit;
}
/* items */
.menu li {
margin: 0;
height: inherit;
}
/* enlaces-items */
.menu a {
text-decoration: none;
color: azure;
display: flex;
align-items: center;
height: inherit;
transition: .6s;
padding: 0 12.5px;
}
/* ultimo-item */
.menu li:last-child {
  display: flex;
  align-items: center;
  margin-left: 12.5px;
}
.menu .button-link {
border: 2px solid rgb(255, 255, 255);
height: 19px;
border-radius: 10px;
padding: 10px 15px;
margin: auto;
transition: .6s;
}
.button-link a{
  color: azure;
  }
.button-link:hover {
background: rgba(255, 255, 255, .8);
border-color: rgba(255, 255, 255, .8);
cursor: pointer;
color: black;
}

.cool-link:hover {
transition: .6s;
background: rgba(255, 255, 255, .8);
color: black;
}

/* -------------------------------POST------------------------------- */
.post {
  grid-area: post;
  padding: 20px 20px;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
 }
 .post-preview {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px 0 40px; 
  align-items: center;
}
.miniature-preview {
  margin: 0;
  margin-right: 25px;
  width: 40%;
  height: auto;
  display: inherit;
  align-items: center;
}
.miniature-preview a {
  margin: 0;  
  width: 100%;
  height: 100%;
}
.miniature-preview img {
  width: 100%;
  height: 100%;
}
.content-preview {
  width: 56%;
}
.content-preview a {
  text-decoration: none;
  color: rgb(0, 89, 255);
  font-size: 1.4em;
}
.content-preview h2 {
  margin: 0;
  color: #000000a1;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 8px;
  font-size: 1.2em;
  font-weight: 600;
}
.content-preview p {
  margin: 0;
  margin-bottom: 6px;
  font-family: 'Raleway', sans-serif;
  font-size: .9em;
}
.content-preview span {
  color: #0665ff;
}
.content-preview .content-p {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: .9em;
  color: #48484a;
}
.others-preview {
  display: flex;
  align-items: center;
}
.perfil-post {
  width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 10px;
  border-radius: 50px;
  overflow: hidden;
}
.perfil-post img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.others-preview .name-perfil {
  width: 46%;
  margin: 0;
  text-decoration: none;
  color: #000000f3;
  font-size: .9em;
  font-family: 'Raleway', sans-serif;
}
.icon-preview {
  width: 30%;
}
.icon-preview i{
  margin-left: 10px;
}
.icon-preview .heart-number {
  color: #202429;
  margin: 0 4px;
}
.icon-preview .comment-number {
  margin: 0 4px;
  color: #202429;
}
/* -------------------------------SEARCH------------------------------- */
.aside {
  grid-area: aside;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container-search {
  margin:30px;
  margin-bottom: 0px;
}
.container-search h3 {
	font-weight: 500;
	margin-left: 10px;
	color: #2C333A;
	font-size: 1.3em;
}
.container-align {
	display: flex;
	align-items: center;
}
.container-search .search {
	border-radius: 50px;
	padding: 6px 10px;
	border: 1px solid #707070;
	font-size: 1.2em;
	font-family: 'Dosis', sans-serif;
	font-weight: 100;
	width: 290px;
}
.container-search form .buscar{
	border-radius: 50px;
	background: black;
	border: 0;
	padding: 8px 22px;
	color: azure;
	font-size: 1.4em;
	font-family: 'Dosis', sans-serif;
	margin-left: 10px;
}
/* -------------------------------ASIDE------------------------------- */
.container-aside {
  margin: 20px 20px 80px 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.line-aside {
  height: 500px; 
  position: absolute;
  bottom: 20px;
  left: -40px;
  border-left: 2px solid #0078EF;
}
.container-aside h3 {
  font-weight: 500;
	color: #2C333A;
	font-size: 1.3em;
} 
.blog-post {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  height: 100px;
}
.miniature {
  margin: 0;
  width: 100px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.miniature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-post {
  margin: 0;
  width: 290px;
  margin-left: 20px;
  font-size: 1.1em;
}

/* -------------------------------CATEGORIES------------------------------- */
.container-categories {
  width: 100%;
  display: flex;
  position: relative;
}
.background-categories {
  background: #181C20;
  width: 100%;
  height: 200px;
  margin-right: 40px;
  display: grid;
  align-items: center;
}
.items-categories {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,50px);
  justify-items: center;
  align-items: center;
}
.items-categories a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-weight: 200;
}
.tag-categories {
  background: #202429;
  border-radius: 50px;
  padding: 10px 70px;
  color: azure;
  font-weight: 200;
  font-size: 1.5em;
  display: flex;
  justify-content:center;
  position: absolute;
  top: -25px;
  left: 40px;
  width:80px;
  margin: auto;
}
/* -------------------------------OTHER------------------------------- */
.other {
  grid-area: other;
  display: flex;
  justify-content: center;
}
.container-other {
  height: 30px;
  display:inherit;
  
}
.pagination-other {
  margin: 0;
  padding: 0;
  list-style: none;
  display:inherit;
  height: inherit;
  align-items: center;
}
.item-other {
  display:flex;
  width: 21px;
  height: 28px;
  border: 1px solid rgb(84, 95, 105);
  justify-content:center;
  align-items: center;
  margin: 0 4px;
}
.link-other {
  color: #2C333A;
  font-weight: 400;
  text-decoration: none;
}
.pagination-other .item-other:last-child {
  background: #0078EF;
  border-color: #0078EF;
}
.link-other i {
  font-size: 1.3em;
  color: white;
}
/* -------------------------------FOOTER------------------------------- */
.footer {
  background: url(../img/footer.png);
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-area: footer;
}
.logo_footer {
margin: 0;
margin-left: 55px;
display: inherit;
align-items: center;
}
/* imagen-logo */
.logo_footer img {
  width: auto;
  height: 50px;
}
.info_footer {
  display: flex;
  align-items: center;
}
.info_footer p {
  margin: 0;
  margin-right: 55px;
  font-weight: 200;
  font-size: 1.13em;
}
.info_footer a {
text-decoration: none;
color: white;
}
