html, body {
    height: 100%;
    width: 100%;
  }
body {
    color: white;
    font-family: 'Raleway', sans-serif;
  }
/* -------------------------------HEADER------------------------------- */
.header {
    font-family: 'Raleway', sans-serif;
    grid-area: header;
    height: 70px; 
    width: 100%;
    position: fixed;
    /* background: rgba(0, 0, 0, .6);   */
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: space-between;
    z-index: 3;
    }
    .container_link {
    margin-left: 20px;
    width: 230px;
    display: flex;
    }
    .link_admin {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 8px 0 6px;
    text-align: center;
    border: 2px solid white;
    }
    .link_admin img {
    width: 100%;
    height: auto;
    }
    /* contenedor */
    .container_header {
    display: inherit;
    justify-content: inherit;
    height: inherit;
    align-items: center;
    margin: 0 auto;
    
    flex: 1;
    }
    /* logo */
    .logo {
    margin: 0;
    margin-left: 55px;
    display: inherit;
    align-items: center;
    }
    /* imagen-logo */
    .logo img {
    width: auto;
    height: 50px;
    }
    /* nav */
    .menu {
    height: inherit;
    }
    /* contedor-items */
    .menu ul {
    font-size: 1.2em;
    margin: 0px;
    margin-right: 55px;
    padding: 0px;
    list-style: none;
    display: flex;
    height: inherit;
    }
    /* items */
    .menu li {
    margin: 0;
    height: inherit;
    }
    /* enlaces-items */
    .menu a {
    text-decoration: none;
    color: azure;
    display: flex;
    align-items: center;
    height: inherit;
    transition: .6s;
    padding: 0 12.5px;
    }
    /* ultimo-item */
    .menu li:last-child {
    display: flex;
    align-items: center;
    margin-left: 12.5px;
    }
    
    .menu .button-link {
    border: 2px solid rgb(235, 233, 233);
    height: 19px;
    border-radius: 10px;
    padding: 10px 15px;
    margin: auto;
    transition: .6s;
    }
    .button-link a{
    color: azure;
    }
    .button-link:hover {
    background: rgba(255, 255, 255, .8);
    border-color: rgba(255, 255, 255, .8);
    cursor: pointer;
    color: black;
    }
    .cool-link:hover {
    transition: .6s;
    background: rgba(255, 255, 255, .8);
    color: black;
    }

/* -------------------------------FORM------------------------------- */
#admin_blog_container {
display: flex;
padding-top: 120px;
font-size: 1.13em;
}
#admin_blog_container form {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding-left: 50px;
}
input {
    border: 1px solid rgb(240, 240, 240);
    margin: 10px 20px;
    padding: 6px 15px;
    border-radius: 70px;
    outline: none;
    background: rgba(0, 0, 0, 0.020);
}
select {
    border: 1px solid rgb(240, 240, 240);
    margin: 10px 20px;
    padding: 6px 15px;
    border-radius: 70px;
    outline: none;
    background: rgba(0, 0, 0, 0.020);
}
.description {
    display: flex;
    margin: 20px 0;
    align-items: flex-start;
}
.description label {
    margin: 0;
}
.description textarea {
    margin-left: 20px;
}
input[type="submit"] {
    width: 100px;
    background: rgb(226, 7, 73);
    border: 1px solid rgb(226, 7, 73);
    color: white;
    border-radius: 5px;
    margin: 30px 0;
}
.container a{
    text-decoration: none;
    margin: 0 25px;
    color: rgb(69, 69, 119);
    background: rgba(0, 0, 0, 0.068);
    border: 1px solid rgba(0, 0, 0, 0.068);
    padding: 5px 20px;
    border-radius: 5px;
}
.container_content {
    display: flex;
    margin: 20px 0;
    align-items: flex-start;
}
.container_content textarea {
    margin-left: 20px;
}