#eventos_imagenes{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#eventos_imagenes1{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#contenido_imagen{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
    border: 3px solid yellow;
    border-radius: 50%;

}
#contenido_imagen1{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
    border: 3px solid rgba(0, 0, 255, 0.767);
    border-radius: 50%;


}

#contenido_imagen2{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-left: 0px;;
    position: relative;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 50%;

}
#contenido_imagen3{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 50%;

}
#contenido_imagen4{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
    border: 3px solid green;
    border-radius: 50%;

}
#contenido_imagen5{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
    border: 3px solid orange;
    border-radius: 50%;
}
#contenido_imagen img{
    
    transition: all 1.5s;
    height: 150px;
    width: 150px;
}
#contenido_imagen1 img{
    
    transition: all 1.5s;
    height: 150px;
    width: 150px;
}
#contenido_imagen2 img{
    
    transition: all 1.5s;
    height: 150px;
    width: 150px;
}
#contenido_imagen3 img{
    
    transition: all 1.5s;
    height: 150px;
    width: 150px;
}
#contenido_imagen4 img{
    
    transition: all 1.5s;
    height: 150px;
    width: 150px;
}
#contenido_imagen5 img{
    
    transition: all 1.5s;
    height: 150px;
    width: 150px;
}
#contenido_imagen:hover img{
    transform: scale(1.125);
    transition: all 1.5s;
}
#contenido_imagen1:hover img{
    transform: scale(1.125);
    transition: all 1.5s;
}
#contenido_imagen2:hover img{
    transform: scale(1.125);
    transition: all 1.5s;
}
#contenido_imagen3:hover img{
    transform: scale(1.125);
    transition: all 1.5s;
}
#contenido_imagen4:hover img{
    transform: scale(1.125);
    transition: all 1.5s;
}
#contenido_imagen5:hover img{
    transform: scale(1.125);
    transition: all 1.5s;
}

#rt{
    margin-top: 15px;
    text-align: center;
    width: 30%;
    margin-left: 35px;
}   
#contenido{
    font-size: 18px;
}





