.content{
    margin: -10px auto;
	color: rgb(8, 8, 8);
	font-family: Arial, Helvetica, Sans-serif, "Myriad Pro";
	
}
#p1{
	font-size: 20px;
    font-weight: normal;
    margin: 20px 0px;
}
.margen{
   background: #181820;
   width: 1500px;
   height: 100px;
   /*cambio a -10* margin */
   display: table-cell;
   vertical-align: middle;
}
.icon-facebook2{
    
    color: rgb(255, 255, 255);
    margin: 18px;
    font-size: 50px;
        
   
}
.icon-twitter{
    
    color: rgb(255, 255, 255);
    margin: 18px;
    font-size: 50px;
    
}
.icon-instagram{
    
    color: rgb(255, 255, 255);
    margin: 18px;
    font-size: 50px;
    
}
