
div#titulo{
	background-color: #202529;
	height: 35px;
	width:200px;
	border-radius: 80px;
	position: relative;
	top: 15px;
	left: 20px;
}
#letrad{
	position: relative;
	top:6px;
	text-align: center;
	color:white;
}
div#cuadro{
	width: 100%;
	height: 240px;
	background-color: #181B20;
	border-radius: 10px;
	
}
#cuadrito{
	width: 97%;
	position:relative;

	border-radius:20px;
margin-top: 20px;
margin-left: 12px;
margin-bottom: 10px;
}


/* Desde aca estoy haciendo */
#buttom_enviar{
	padding: 5px 50px;
	background: #181B20;
	color: white;
	border-bottom-color: white;
	border-radius: 10px;
	margin: 10px;
	transition: 300ms
}

#buttom_enviar:hover{
	background: white;
	color:black;
	transition: 300ms
}

#cuadrito2{
	width: 97%;
	position:relative;
	border-radius:20px;
	margin-top: 20px;
	margin-left: 12px;
	margin-bottom: 10px;
}