body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
}
/* GRID CONTAINER */
.container {
    display: grid;
    grid-template-areas: "header header"
                         "post aside"
                         "post aside"
                         "post aside"
                         "post aside"
                         "post ."  
                         "post ."   
                         "post ."
                         "other ."
                         "footer footer";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 70px repeat(7,300px) 30px 50px;
    grid-gap: 10px;
}
.item {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center
    }
.other {
    grid-area: other;
    background: rgb(112, 2, 255);
}
/* -------------------------------HEADER------------------------------- */
.header {
    font-family: 'Raleway', sans-serif;
    grid-area: header;
    height: 70px; 
    width: 100%;
    position: fixed;
    /* background: rgba(0, 0, 0, .6);   */
    background: black;
    display: flex;
    justify-content: space-between;
    z-index: 3;
  }
/* contenedor */
.container_header {
  display: inherit;
  justify-content: inherit;
  height: inherit;
  align-items: center;
  margin: 0 auto;

  flex: 1;
}
/* logo */
.logo {
  margin: 0;
  margin-left: 55px;
  display: inherit;
  align-items: center;
}
/* imagen-logo */
.logo img {
  width: auto;
  height: 50px;
}
/* nav */
.menu {
  height: inherit;
}
/* contedor-items */
.menu ul {
  font-size: 1.2em;
  margin: 0px;
  margin-right: 55px;
  padding: 0px;
  list-style: none;
  display: flex;
  height: inherit;
}
/* items */
.menu li {
  margin: 0;
  margin-right: 25px;
  height: inherit;
}
/* enlaces-items */
.menu a {
  text-decoration: none;
  color: azure;
  display: flex;
  align-items: center;
  height: inherit;
}
/* ultimo-item */
ul li:last-child {
  border: 2px solid azure;
  height: 19px;
  border-radius: 60px;
  padding: 9px 15px;
  margin: auto;
}

/* -------------------------------POST------------------------------- */
.post {
  grid-area: post;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
 }
 .post-preview {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 30px 20px 40px; 
  align-items: center;
}
.miniature-preview {
  margin: 0;
  margin-right: 30px;
  width: 40%;
  height: 197px;
  display: inherit;
  align-items: center;
}
.miniature-preview img {
  width: 100%;
  height: 100%;
}
.content-preview {
  width: 56%;
}
.content-preview a {
  text-decoration: none;
  color: rgb(0, 89, 255);
  font-size: 1.4em;
}
.content-preview h3 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
}
.content-preview h4 {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 100;
}
.content-p {
  margin: 0;
  margin-bottom: 20px;
}
.others-preview {
  display: flex;
  align-items: center;
}
.perfil-post {
  width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 20px;
  border-radius: 50px;
  overflow: hidden;
}
.perfil-post img {
  width: 100%;
  height: auto;
  object-fit: cover;
  
}
.name-perfil {
  width: 46%;
  margin: 0;
}
.icon-preview {
  width: 30%;
}
.icon-preview i{
  margin-left: 10px;
}
.heart-number {
  margin: 0 4px;
}

/* -------------------------------SEARCH------------------------------- */
.aside {
  grid-area: aside;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container-search {
  margin:30px;
  margin-bottom: 0px;
}
.container-search h3 {
	font-weight: 500;
	margin-left: 10px;
	color: #2C333A;
	font-size: 1.3em;
}
.container-align {
	display: flex;
	align-items: center;
}
.container-search .search {
	border-radius: 50px;
	padding: 6px 10px;
	border: 1px solid #707070;
	font-size: 1.2em;
	font-family: 'Dosis', sans-serif;
	font-weight: 100;
	width: 290px;
}
.container-search button {
	border-radius: 50px;
	background: black;
	border: 0;
	padding: 8px 22px;
	color: azure;
	font-size: 1.4em;
	font-family: 'Dosis', sans-serif;
	margin-left: 10px;
}
/* -------------------------------ASIDE------------------------------- */
.container-aside {
  margin: 20px 20px 80px 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.line-aside {
  height: 500px; 
  position: absolute;
  bottom: 20px;
  left: -40px;
  border-left: 2px solid #0078EF;
}
.container-aside h3 {
  font-weight: 500;
	color: #2C333A;
	font-size: 1.3em;
} 
.blog-post {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  height: 100px;
}
.miniature {
  margin: 0;
  width: 100px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.miniature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-post {
  margin: 0;
  width: 290px;
  margin-left: 20px;
  font-size: 1.1em;
}

/* -------------------------------CATEGORIES------------------------------- */
.container-categories {
  width: 100%;
  display: flex;
  position: relative;
}
.background-categories {
  background: #181C20;
  width: 100%;
  height: 200px;
  margin-right: 40px;
  display: grid;
  align-items: center;
}
.items-categories {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,50px);
  justify-items: center;
  align-items: center;
}
.items-categories a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-weight: 200;
}
.tag-categories {
  background: #202429;
  border-radius: 50px;
  padding: 10px 70px;
  color: azure;
  font-weight: 200;
  font-size: 1.5em;
  display: flex;
  justify-content:center;
  position: absolute;
  top: -25px;
  left: 40px;
  width:80px;
  margin: auto;
}

/* -------------------------------FOOTER------------------------------- */
.footer {
  background: rgb(0, 0, 0);
  color: white;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-area: footer;
}
.logo_footer {
margin: 0;
margin-left: 55px;
display: inherit;
align-items: center;
}
/* imagen-logo */
.logo_footer img {
  width: auto;
  height: 50px;
}
.info_footer {
  display: flex;
  align-items: center;
}
.info_footer p {
margin: 0;
margin-right: 55px;
font-weight: 200;
font-style: italic;
font-size: 1.2em;
}
.info_footer a {
text-decoration: none;
color: white;
}