html, body {
    height: 100%;
    width: 100%;
  }
body {
    color: white;
    font-family: 'Raleway', sans-serif;
  }
/* -------------------------------CONTAINER------------------------------- */
.container {
    display: grid;
    grid-template-areas: "hero" 
                         "core"
                         "events"
                         "blog"
                         "contact";
    grid-template-rows: 100vh 420px 430px 800px 800px;
}

/* -------------------------------HEADER------------------------------- */
.header {
  font-family: 'Raleway', sans-serif;
  grid-area: header;
  height: 70px; 
  width: 100%;
  position: fixed;
  /* background: rgba(0, 0, 0, .6);   */
  background: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: space-between;
  z-index: 3;
}
/* contenedor */
.container_header {
display: inherit;
justify-content: inherit;
height: inherit;
align-items: center;
margin: 0 auto;

flex: 1;
}
/* logo */
.logo {
margin: 0;
margin-left: 55px;
display: inherit;
align-items: center;
}
/* imagen-logo */
.logo img {
width: auto;
height: 50px;
}
/* nav */
.menu {
height: inherit;
}
/* contedor-items */
.menu ul {
font-size: 1.2em;
margin: 0px;
margin-right: 55px;
padding: 0px;
list-style: none;
display: flex;
height: inherit;
}
/* items */
.menu li {
margin: 0;
height: inherit;
}
/* enlaces-items */
.menu a {
text-decoration: none;
color: azure;
display: flex;
align-items: center;
height: inherit;
transition: .6s;
padding: 0 12.5px;
}
/* ultimo-item */
.menu li:last-child {
  display: flex;
  align-items: center;
  margin-left: 12.5px;
}
.menu .button-link {
border: 2px solid rgb(255, 255, 255);
height: 19px;
border-radius: 10px;
padding: 10px 15px;
margin: auto;
transition: .6s;
}
.button-link a{
  color: azure;
  }
.button-link:hover {
background: rgba(255, 255, 255, .8);
border-color: rgba(255, 255, 255, .8);
cursor: pointer;
color: black;
}

.cool-link:hover {
transition: .6s;
background: rgba(255, 255, 255, .8);
color: black;
}

/* -------------------------------HERO------------------------------- */
/* hero */
body .hero {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* video */
body .hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
  }
/* overlay(Fondo transparente) */
body .hero .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.87) 29%, rgba(7,68,138,0.7511379551820728) 68%, rgba(11, 88, 167, 0.75) 100%);
  }
/* contenedor-texto */
body .hero .content {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 2.2em;
    width: 820px;
  }
/* titulo principal */
body .content h1 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden; 
}
/* subtitulo */
body .content h4 {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    margin-top: 2%;
    margin-bottom: 10%;
  }
/* boton-enlace */
body .content a {
      border: 2px solid azure;
      padding: 12px 20px;
      border-radius: 10px;
      text-decoration: none;
      font-weight: 200;
      color: azure;
  }
  /* ANIMACION */
  .anim-typewriter {
    animation: typewriter 4s steps(40) 2.1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 11.5em;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}

/* -------------------------------CORE------------------------------- */
.core {
    grid-area: core;
    background: white;
    padding-top: 50px;
}
.container_core {
  background: #181C20;
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: minmax(auto,1024px);
  justify-content: center;
}
.division_core {
  display: grid;  
            grid-template-columns: auto 3fr;
            grid-template-rows: 60px 100px 120px auto 60px;
            grid-gap: 0 60px;
            grid-template-areas: ". ."
                                 "image_core title_core"
                                 "image_core description_core"
                                 ". bottom_core"
                                 ". .";          
}
.image_core {
  margin: 0;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  overflow: hidden;
  grid-area: image_core;
}
.image_core img {
  width: 100%;
  height: 100%;
}
.title_core {
  font-weight: 400;
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
  margin: 0;
  grid-area: title_core;
  display: flex;
  align-items: center;
}
.descripion_core {
  font-weight: 200;
  grid-area: description_core;
  font-family: 'Raleway', sans-serif;
  font-size: 1.13em;
}
.descripion_core span {
  color: rgb(0, 68, 255);
}
.bottom_core {
  border: 2px solid azure;
  border-radius: 50px;
  padding: 9px 30px;
  text-decoration: none;
  color: azure;
  font-weight: 300;
  font-size: 2em;
  grid-area: bottom_core;
  font-family: 'Dosis', sans-serif;
  justify-self: start;
  margin-left: 120px;
}
/* -------------------------------EVENTS------------------------------- */
.events {
    grid-area: events;
    background: white;
    padding-top: 22px;
}
.container_events {
  background: #181C20;
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: minmax(auto,1fr);
  justify-content: center;
}
.division_events {
  display: grid;  
            grid-template-columns: .3fr 2fr 1.6fr;
            grid-template-rows: 40px 90px .2fr .2fr .2fr auto;
            grid-gap: 0 70px;
            grid-template-areas:  "transparent transparent transparent"
                                  ". tag_events image_events"
                                  "line_events title_events image_events"
                                  "line_events description_events image_events"
                                  ". bottom_events image_events"
                                  ". . image_events";     
}
.transparent {
  grid-area: transparent;
  background: white;
  width: 100%;
  height: 40px;
  position: relative;
}
.tag_events  {
  font-family: 'Dosis', sans-serif;
  background: #1C2227;
  border-radius: 50px;
  padding: 20px 80px;
  color: azure;
  font-weight: 600;
  font-size: 2em;
  margin: auto 0;
  position: relative;
  top: -50%;
  grid-area: tag_events;
  width:107px;
}
.line_events {
  grid-area: line_events;
  border-right: 6px solid rgb(19, 106, 177);
}
.title_events {
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
  margin: 0;
  grid-area: title_events;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.description_events {
  font-weight: 100;
  grid-area: description_events;
  font-family: 'Dosis', sans-serif;
  font-size: 1.13em;
  margin: 0;
  color: #CBCBCB;
  width: 490px;
  margin-bottom: 15px;
}
.image_events {
  margin: 0;
  width: 100%;
  height: 100%;
  grid-area: image_events;
  overflow: hidden;
  border-top-left-radius: 496px 770px;
}
.image_events img {
  width: 100%;
  height:100%;
  object-fit:cover;
}
.bottom_events {
  border: 2px solid azure;
  border-radius: 50px;
  padding: 9px 30px;
  text-decoration: none;
  color: azure;
  font-weight: 300;
  font-size: 2em;
  font-family: 'Dosis', sans-serif;
  grid-area: bottom_events;
  margin-left: 120px;
  justify-self: end;
  margin: auto 0;
}
/* SLIDER */
.slider {
  display: block;
  width: 100%;
  height: 400px;
  background: rebeccapurple;
  overflow: hidden;
  position: absolute;
}
.slider > * {
  position: absolute;
  display: block;
  width: 100%;
  height: 400px;
  background: yellow;
  animation: slide 12s infinite;
  overflow: hidden;
}
.slide:nth-child(1) {
  left: 0%;
  animation-delay: -1s;
  background: red;
}
.slide:nth-child(2) {
  animation-delay: 2s;
  background: yellow;
}
.slide:nth-child(3) {
  animation-delay: 5s;
  background: goldenrod;
}
.slide:nth-child(4) {
  left: 0%;
  animation-delay: 8s;
  background: blueviolet;
}
@keyframes slide {
  0% { left: 100%; width: 100%;}
  5% { left: 0%;}
  25% { left: 0%;}
  30% { left: -100%; width: 100%;}
  30.0001% { left: -100%; width: 0%;}
  100% { left: 100%; width: 0%;}
}
/* -------------------------------BLOG------------------------------- */
.blog {
    grid-area: blog;
    background: white;
    position: relative;
    padding-top: 50px; 
    z-index: 2;
}
.container_blog {
  background: #181C20;
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: minmax(auto,1215px);
  justify-content: center;
}
.division_blog {
  display: grid;  
  grid-template-areas: "tag_blog . ."
                      "container_box container_box container_box"
                      ". bottom_blog .";     
  grid-template-columns: repeat(3,1fr);   
  grid-template-rows: 70px 430px auto;
  grid-gap: 40px 0px;
}
.tag_blog {
  font-family: 'Dosis', sans-serif;
  background: #1C2227;
  border-radius: 50px;
  padding: 20px 80px;
  color: azure;
  font-weight: 600;
  font-size: 2em;
  margin: auto 0;
  position: relative;
  top: -50%;
  grid-area: tag_blog;
  width:107px;
  display: flex;
  justify-content: center;
}
.tag_blog  p {
  margin: 0;
}
.container_box {
  grid-area: container_box;
  display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            grid-gap: 0 60px;
  padding: 0 30px;
}
.box_blog {
  background: white;
  color: #2C333A;
  display: grid;
  grid-template-rows: 55% 45%;
}
.image_box {
  margin: 0;
  width: 100%;
  height: 100%;
}
.image_box img {
  width: 100%;
  height: 100%;

}
.detail_box {
  display: flex;
  flex-direction: column;
}
.detail_box  h4 {
  margin: 15px 0;
  display: inherit;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
  font-weight: 400;
}
.link-box {
  text-decoration: none;
  color: #2C333A;
}
.detail_box p {
  margin: 0;
  display: inherit;
  justify-content: center;
  font-size: 1.13em;
  color: #707070;
  margin: 0;
  margin-bottom: 15px;
}
.detail_box span  {
  color: rgb(0, 68, 255);
  margin-left: 4px;
  font-family: 'Dosis', sans-serif;
}
.container_box_perfil {
  display: flex;
  justify-content: center;
}
.perfil_box {
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
}
.perfil_box img {
  width: 100%;
  height: 100%; 
}
.container_box_perfil p {
  align-items: center;
  margin: 0 10px;
  font-size: 1.13em;
}
.bottom_blog {
  border: 2px solid azure;
  border-radius: 50px;
  padding: 9px 30px;
  text-decoration: none;
  color: azure;
  font-weight: 300;
  font-size: 2em;
  font-family: 'Dosis', sans-serif;
  grid-area: bottom_blog;
  margin-left: 120px;
  justify-self: center;
  margin: 30px 0 auto;
}

/* -------------------------------CONTACT------------------------------- */
.contact {
    grid-area: contact;
    position: relative;
    background: white;
    padding-top: 20px;
}
.container_contact {
  background: #181C20;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}
.top {
  width: 100%;
  height: auto;
  background: white;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  }
.bottom {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: ". title_bottom title_bottom title_bottom"
                      ". text_bottom . social_bottom"
                      ". email_bottom . social_bottom"
                      ". button_bottom . ."
                      ". . . .";
  grid-template-columns: .1fr .3fr .8fr .6fr;
  grid-template-rows: .25fr .1fr .1fr .1fr auto;
  grid-gap: 35px;
}
.title_bottom {
  grid-area: title_bottom; 
  margin: 0;
  margin-left: 60px;
  font-size: 4em;
  align-self: center;
  justify-self: start;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}
.text_bottom {
   grid-area: text_bottom;
   margin: auto;
   width: 320px;
   height: 60px;
   border-radius: 50px;
   padding-left: 70px;
   font-size: 2em;
   font-family: 'Dosis', sans-serif;
   align-self: center;
   position: relative;
   background: url(images/user-solid.svg);
   background-repeat: no-repeat;
   background-position-y: center;
   background-position-x: 20px;
   background-color: white;
   background-size: 40px 40px;
}
.email_bottom {
  grid-area: email_bottom;
  margin: auto;
  width: 320px;
  height: 60px;
  border-radius: 50px;
  padding-left: 70px;
  font-size: 2em;
  font-family: 'Dosis', sans-serif;
  align-self: center;
  background: url(images/envelope-solid.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 20px;
  background-color: white;
  background-size: 40px 40px;
}
.social_bottom {
  grid-area: social_bottom;
  justify-self: start;
  align-self: center;
}
.social_link {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 7em;
  margin: 0 25px;
}
.button_bottom {
  grid-area: button_bottom;
  margin: auto;
  width: 220px;
  height: 60px;
  border-radius: 50px;
  border: 2px solid azure;
  font-size: 2em;
  font-family: 'Dosis', sans-serif;
  background-color: transparent;
  color: azure;
}

/* -------------------------------FOOTER------------------------------- */
.footer {
    background: rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
.logo_footer {
  margin: 0;
  margin-left: 55px;
  display: inherit;
  align-items: center;
  }
/* imagen-logo */
.logo_footer img {
    width: auto;
    height: 50px;
  }
.info_footer {
    display: flex;
    align-items: center;
  }
.info_footer p {
  margin: 0;
  margin-right: 55px;
  font-weight: 200;
  font-style: italic;
  font-size: 1.2em;
}
.info_footer a {
  text-decoration: none;
  color: white;
}