.acomodar ul li{
    margin: 50px;
    width: 130px;
    height: 30px;
    background-color: rgb(10, 49, 46);
    float: left;
    text-align: center;
}

.acomodar ul li a{
    text-decoration: none;
    color: white;
}

.acomodar ul li:hover{
    background-color: rgb(92, 104, 107);
}